<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Copyright <%- date(Date.now(), 'YYYY') %> kagerou01gata.
        </p>
        <p class="copyright text-muted">
          Based Theme by <a target="_blank" href="https://github.com/levblanc">Levblanc.</a>
          Edited by <a target="_blank" href="https://github.com/eai04191">Eai.</a>
        <p class="copyright text-muted">
          Powered by <a target="_blank" href="https://hexo.io/">Hexo.</a>
        </p>
      </div>
    </div>
  </div>
</footer>
